body {
}
#barcode-submit {
    background-color: #ff014f;
    color: white;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
}

#barcode-input {
    width: 100%;
    font-size: 12px !important;
    height:100px
}

.page {
    min-width: 200px;
    font-size: 10px;
}

.page p {
    margin-bottom: 0px;
}

.detail .d-collapse {
    cursor: pointer;
}

.detail .d-collapse img {
    height: 15px !important;
}

.detail .d-collapse.show .show,
.detail .d-collapse.show .show {
    display: inline-block;
}

.detail .d-collapse .show {
    display: none;
}

.detail .d-collapse.show .hide {
    display: none;
}

.detail .d-collapse .hide {
    display: inline-block;
}

.detail .d-collapse .input {
    margin-top: 5px;
    font-size: 12px;
}

.detail .barcode-hint{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #ff014f;
}
.detail .barcode-hint div{
    text-align: left;
    padding-left: 5px;
}

.detail .barcode-hint div svg{
    cursor: pointer;
}

.detail .barcode {
    padding: 3px;
    outline: none;
}
